<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Product</title>
</head>
<body>
    <h1>Order Product</h1>
    <form id="OrderForm">
        <label for="name">Product Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" required><br><br>
        <button type="submit">Place Order</button>
    </form>

    <script>
        document.getElementById("OrderForm").addEventListener("submit", function(event) {
            event.preventDefault();
            var name = document.getElementById("name").value;
            var quantity = document.getElementById("quantity").value;
            fetch('/api/order_products', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    name: name,
                    quantity:quantity
                })
            })
            .then(response => response.json())
            .then(data => {
                alert(data.message);
                document.getElementById("OrderForm").reset();
            })
            .catch(error => {
                alert(data.message);
                document.getElementById("productForm").reset();
            });
        });
    </script>
</body>
</html>
